/********** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/**************header***************/

header {
    display: flex;
    flex-direction: ;
}

.location {
    display: flex;
    flex-direction: row;
}