/********** General ***********/
html {
  scroll-behavior: smooth;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.overlay .loader {
  display: flex;
  align-items: center;
  gap: 10px;
}
.overlay .loader #point-1,
.overlay .loader #point-2,
.overlay .loader #point-3 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 50%;
  right: 50%;
  background: linear-gradient(to top, #FF79DA, #9356DC);
}
.overlay .loader #point-1 {
  animation: jump 900ms ease-in-out 300ms 4;
}
.overlay .loader #point-2 {
  animation: jump 900ms ease-in-out 600ms 4;
}
.overlay .loader #point-3 {
  animation: jump 900ms ease-in-out 900ms 4;
}

.fade-out-loader {
  animation: fadeOutLoader 1s 3600ms forwards;
}

@keyframes fadeOutLoader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    height: 0;
    width: 0;
    top: -20px;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}
h1 {
  font-family: "shrikhand", sans-serif;
}

.fade-in-image {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h2,
h3,
p,
a {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: auto;
}

.main {
  margin-top: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/**************header***************/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  max-width: 1920px;
}
header h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: black;
}
header img {
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  padding-top: 14px;
  padding-bottom: 13px;
}
header .location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

/****************headlines************/
.headlines {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.headlines h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5%;
  font-weight: 700;
  font-size: 24px;
  width: 60%;
}
.headlines p {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 30px;
  width: 85%;
}
.headlines .button {
  width: 60%;
  height: 50px;
  font-weight: 500;
  padding-top: 15px;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-size: 16px;
  border-radius: 30px;
  border: solid 0px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
  transition: opacity box-shadow 200ms;
}
.headlines .button:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
}

/********************fonctionnement*******************/
.fonctionnement {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
}
.fonctionnement h2 {
  margin-top: 40px;
  margin-bottom: 0px;
}
.fonctionnement .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.fonctionnement .cards p {
  font-weight: 500;
  font-size: 16px;
}
.fonctionnement .cards .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin-right: 10px;
  padding-right: 10px;
  width: 100%;
  z-index: 0;
}
.fonctionnement .cards .card-text {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 95%;
  padding-left: 30px;
  background-color: #f6f6f6;
}
.fonctionnement .cards .cercle {
  position: relative;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  border-radius: 50%;
  border: solid 0px #D9D9D9;
  text-align: center;
  line-height: 40px;
  padding-left: -20px;
}
.fonctionnement .cards .cercle p {
  color: white;
  font-size: 14.18px;
}
.fonctionnement .card-heart {
  z-index: 1;
}
.fonctionnement .fa-list-ul {
  color: #7e7e7e;
}
.fonctionnement .fa-mobile-screen-button {
  color: #7e7e7e;
}
.fonctionnement .fa-store {
  color: #9356dc;
}

/********************** restaurants ***************************/
.restaurants {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  background-color: #f6f6f6;
  padding-bottom: 70px;
}
.restaurants h2 {
  margin-top: 50px;
  padding-bottom: 20px;
  margin-left: 5%;
}
.restaurants .cards {
  width: 100%;
  margin-top: -40px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants .cards .heart-container {
  position: absolute;
  bottom: 32px;
  right: 20px;
}
.restaurants .cards .empty-heart {
  display: block;
}
.restaurants .cards .full-heart {
  display: none;
}
.restaurants .cards .heart-container:hover .empty-heart {
  display: none;
}
.restaurants .cards .heart-container:hover .full-heart {
  display: block;
}
.restaurants .cards .heart-gradient {
  opacity: 0;
  display: inline-block;
  transition: opacity 2s ease;
}
.restaurants .cards .heart-gradient:hover {
  opacity: 1;
}
.restaurants .cards .card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;
  flex-direction: column;
}
.restaurants .cards .card a {
  width: 100%;
}
.restaurants .cards .card a .image {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 180px;
  overflow: hidden;
}
.restaurants .cards .card a .image .nouveau-1 {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 18%;
  max-width: 80px;
  height: 29px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.restaurants .cards .card a .image .nouveau-1 p {
  color: #008766;
  font-size: 14px;
  font-weight: 500;
}
.restaurants .cards .card a .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 170px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -o-object-position: center;
     object-position: center;
}
.restaurants .cards .card a .image .img-vert {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
.restaurants .cards .card .card-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  padding-right: 15px;
}
.restaurants .cards .card .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}
.restaurants .cards .card .card-content .card-txt .card-title {
  margin: 0;
  font-size: 18px;
}
.restaurants .cards .card .card-content .card-txt .card-subtitle {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}

/*********************** footer****************************/
footer {
  width: 100%;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #353535;
}
footer h1 {
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
}
footer .liens-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .liens-icones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
footer .liens-icones i {
  width: 13px;
}
footer .liens-icones p {
  font-weight: 500;
}
footer a,
footer p {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin: 0;
}

/********************** Desktop ******************/
@media (min-width: 1024px) {
  /***************headline***************/
  .headlines h2 {
    font-size: 40px;
  }
  .headlines .button {
    max-width: 22%;
  }
  /******************fonctionnement*************/
  .fonctionnement {
    width: 75%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .fonctionnement h2 {
    padding-left: 10px;
  }
  .fonctionnement .cards {
    flex-direction: row;
    gap: 0px;
  }
  /******************** restaurants ****************/
  .restaurants h2 {
    width: 75%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .restaurants .cards {
    width: 75%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
  }
  .restaurants .cards .card {
    width: 45%;
    margin-top: -60px;
  }
  .restaurants .cards .card .image .img {
    -o-object-position: 50% 80%;
       object-position: 50% 80%;
  }
  footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 100px;
    height: 114px;
    padding-top: 110px;
    padding-bottom: 20px;
  }
  footer .liens-footer {
    flex-direction: row;
    align-items: center;
  }
  footer .liens-footer .space-footer {
    margin-right: 40px;
  }
}/*# sourceMappingURL=style.css.map */